<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Powiadamiaczv2.Properties.Settings.PowiadamiaczConnectionString"
            connectionString="Data Source=SERWER-SQL\CDN;Initial Catalog=Powiadamiacz;Persist Security Info=True;User ID=SA;Password=123qweASD"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>