<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Flotapp.Properties.Settings.CarsDatabaseConnectionString1"
            connectionString="Data Source=STACJONARNY-BAR;Initial Catalog=CarsDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>